* {
    margin: 0;
    padding: 0;

}
body{
    background-color: darkcyan;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    width: 200px;
    height: 51px;
}

.btn {
    width: 39px;
    height: 44px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0px 2px;
    cursor: pointer;
}

.text-box {
    width: 175px;
    height: 22px;
}

.input-box {
    width: 196px;
    height: 37px;
    margin: 25px 0 0 0;
}

.box {
    width: 203px;
    height: 328px;
    background: black;
    padding: 0 0 0 18px;
    border-radius: 9px;
    margin-top: 50px;
  }